<div class="card listSurvey">
    <div class="card-body" style="padding: 1rem;">
        <div class="row">
            <div class="col">
                <h5 class="capital">{{@survey.titel}} Survey</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Number of questions present in {{@survey.titel}} survey:</label> {{this.numberOfQuestion}}
            </div>
        </div>
    </div>
</div>